<a href="https://colab.research.google.com/github/fnfloresra/ML_test/blob/main/ML_test_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [20]:
import pandas as pd
import numpy as np

In [21]:
df = pd.read_csv('ML_calidad_agua_EJ01.csv')

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4673 entries, 0 to 4672
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date       4673 non-null   object
 1   parameter  4673 non-null   object
 2   value      4673 non-null   float64
dtypes: float64(1), object(2)
memory usage: 109.7+ KB

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4673 entries, 0 to 4672
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date       4673 non-null   datetime64[ns]
 1   parameter  4673 non-null   object
 2   value      4673 non-null   float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 109.7+ KB

None

In [24]:
# Display basic information about the dataset
print("Dataset shape:", df.shape)
print("\nColumn names:", df.columns.tolist())
print("\nFirst few rows:")
print(df.head(10))

Dataset shape: (4673, 3)

Column names: ['date', 'parameter', 'value']

First few rows:
                 date        parameter    value
0 1994-06-09 11:00:00           Caudal  3000.00
1 1994-07-07 11:00:00           Caudal  1000.00
2 1994-07-16 11:00:00           Caudal  1000.00
3 1994-08-20 10:00:00           Caudal   800.00
4 1994-06-09 11:00:00      Temperatura     7.04
5 1994-07-07 11:00:00      Temperatura     7.02
6 1994-07-16 11:00:00      Temperatura     8.15
7 1994-08-20 10:00:00      Temperatura     8.25
8 1994-06-09 11:00:00   Cobre Disuelto     0.90
9 1994-06-09 11:00:00  Hierro Disuelto     0.70

In [25]:
# Let's examine the data structure more thoroughly
print("Data types:")
print(df.dtypes)
print("\nUnique parameters (first 20):")
unique_params = df['parameter'].unique()
print(f"Total unique parameters: {len(unique_params)}")
print(unique_params[:20])

print("\nDate range:")
df['date'] = pd.to_datetime(df['date'])
print(f"From: {df['date'].min()} to {df['date'].max()}")

print("\nSample of parameters:")
print(df['parameter'].value_counts().head(10))

Data types:
date         datetime64[ns]
parameter            object
value               float64
dtype: object

Unique parameters (first 20):
Total unique parameters: 101
['Caudal' 'Temperatura' 'Cobre Disuelto' 'Hierro Disuelto' 'Cianuro Total'
 'Plomo Disuelto' 'Sólidos Disueltos Totales' 'Conductividad Electrica'
 'Manganeso Disuelto' 'Zinc Disuelto' 'Cianuro Wad'
 'Potencial de Hidrogeno (in situ)' 'Sólidos Suspendidos Totales'
 'Arsenico Disuelto' 'Coliformes Fecales' 'Coliformes Totales'
 'Aceites y Grasas' 'Niquel total' 'Selenio total'
 'Cromo hexavalente Total']

Date range:
From: 1994-04-29 11:00:00 to 2024-10-12 00:00:00

Sample of parameters:
parameter
Caudal                         251
Sólidos Suspendidos Totales    247
Temperatura                    243
Cianuro Wad                    208
Potencial de Hidrógeno         137
Zinc Disuelto                  117
Cobre Disuelto                 117
Hierro Disuelto                116
Plomo Disuelto                 113
Cobre total                    111
Name: count, dtype: int64

In [26]:
# Let's see how many unique dates we have and check for duplicates
print("Number of unique dates:", df['date'].nunique())
print("Total rows:", len(df))

# Check for duplicates (same date and parameter)
duplicates = df.duplicated(subset=['date', 'parameter'])
print(f"Number of duplicate date-parameter combinations: {duplicates.sum()}")

if duplicates.sum() > 0:
    print("\nSample duplicates:")
    print(df[duplicates].head())

# Let's examine the date distribution
print("\nSample of dates with their frequencies:")
date_counts = df['date'].value_counts().head(10)
print(date_counts)

Number of unique dates: 248
Total rows: 4673
Number of duplicate date-parameter combinations: 101

Sample duplicates:
                  date                         parameter      value
69 2009-07-11 09:40:00  Potencial de Hidrogeno (in situ)       8.51
70 2009-07-11 09:40:00                            Caudal  242784.00
80 2009-07-11 09:40:00                       Temperatura       7.15
96 2009-07-11 09:40:00                    Cobre Disuelto       0.02
97 2009-07-11 09:40:00                   Hierro Disuelto       0.02

Sample of dates with their frequencies:
date
2015-12-02    79
2016-07-01    76
2017-01-04    49
2013-02-02    47
2023-08-06    43
2022-05-14    43
2024-07-13    43
2023-11-13    43
2024-01-13    43
2024-04-16    43
Name: count, dtype: int64

In [27]:
# Let's examine the duplicates more carefully
dup_mask = df.duplicated(subset=['date', 'parameter'], keep=False)
duplicated_data = df[dup_mask].sort_values(['date', 'parameter'])

print("Examples of duplicated records:")
print(duplicated_data.head(20))

# Check if the values are the same for duplicates
print("\nChecking if duplicate values are identical:")
for (date, param), group in duplicated_data.groupby(['date', 'parameter']):
    unique_values = group['value'].unique()
    if len(unique_values) > 1:
        print(f"Date: {date}, Parameter: {param}, Different values: {unique_values}")
    if len(group) > 2:  # More than 2 duplicates
        print(f"Date: {date}, Parameter: {param}, Count: {len(group)}")
    # Only show first few examples
    if len([x for x in duplicated_data.groupby(['date', 'parameter'])]) > 10:
        break

Examples of duplicated records:
                    date                         parameter        value
1055 1997-03-22 09:10:00                 Arsenico Disuelto        0.009
1058 1997-03-22 09:10:00                 Arsenico Disuelto        0.009
555  1997-03-22 09:10:00                            Caudal  1231718.000
559  1997-03-22 09:10:00                            Caudal  1231718.000
1043 1997-03-22 09:10:00                    Cobre Disuelto        0.030
1051 1997-03-22 09:10:00                    Cobre Disuelto        0.030
1044 1997-03-22 09:10:00                   Hierro Disuelto        0.380
1052 1997-03-22 09:10:00                   Hierro Disuelto        0.380
1045 1997-03-22 09:10:00                    Plomo Disuelto        0.000
1053 1997-03-22 09:10:00                    Plomo Disuelto        0.000
554  1997-03-22 09:10:00  Potencial de Hidrogeno (in situ)        6.650
558  1997-03-22 09:10:00  Potencial de Hidrogeno (in situ)        6.650
1046 1997-03-22 09:10:00       Sólidos Suspendidos Totales       21.200
1054 1997-03-22 09:10:00       Sólidos Suspendidos Totales       21.200
1056 1997-03-22 09:10:00                     Zinc Disuelto        0.270
1059 1997-03-22 09:10:00                     Zinc Disuelto        0.270
289  2006-01-12 09:10:00                 Arsenico Disuelto        0.020
337  2006-01-12 09:10:00                 Arsenico Disuelto        0.020
303  2006-01-12 09:10:00                            Caudal   470179.050
465  2006-01-12 09:10:00                            Caudal   470179.050

Checking if duplicate values are identical:

In [28]:
# Since the duplicates seem to have identical values, let's remove them and proceed with the pivot
# Remove duplicates keeping the first occurrence
df_clean = df.drop_duplicates(subset=['date', 'parameter'], keep='first')

print(f"Original dataset: {len(df)} rows")
print(f"After removing duplicates: {len(df_clean)} rows")
print(f"Duplicates removed: {len(df) - len(df_clean)}")

# Now let's create the time series dataset
# Pivot the data so that dates are rows and parameters are columns
df_pivot = df_clean.pivot(index='date', columns='parameter', values='value')

print(f"\nPivoted dataset shape: {df_pivot.shape}")
print(f"Date range: {df_pivot.index.min()} to {df_pivot.index.max()}")
print(f"Number of parameters (columns): {df_pivot.shape[1]}")

# Display the first few columns and rows
print("\nFirst 5 rows and first 10 parameters:")
print(df_pivot.iloc[:5, :10])

Original dataset: 4673 rows
After removing duplicates: 4572 rows
Duplicates removed: 101

Pivoted dataset shape: (248, 101)
Date range: 1994-04-29 11:00:00 to 2024-10-12 00:00:00
Number of parameters (columns): 101

First 5 rows and first 10 parameters:
parameter            Aceites y Grasas  Aluminio Disuelto  Aluminio total  \
date
1994-04-29 11:00:00               NaN                NaN             NaN
1994-05-30 11:00:00               NaN                NaN             NaN
1994-06-09 11:00:00               NaN                NaN             NaN
1994-07-07 11:00:00               NaN                NaN             NaN
1994-07-16 11:00:00               NaN                NaN             NaN

parameter            Antimonio Disuelto  Antimonio total  Arsenico Disuelto  \
date
1994-04-29 11:00:00                 NaN              NaN                NaN
1994-05-30 11:00:00                 NaN              NaN                NaN
1994-06-09 11:00:00                 NaN              NaN                NaN
1994-07-07 11:00:00                 NaN              NaN                NaN
1994-07-16 11:00:00                 NaN              NaN                NaN

parameter            Arsénico total  Bario Disuelto  Bario total  \
date
1994-04-29 11:00:00             NaN             NaN          NaN
1994-05-30 11:00:00             NaN             NaN          NaN
1994-06-09 11:00:00             NaN             NaN          NaN
1994-07-07 11:00:00             NaN             NaN          NaN
1994-07-16 11:00:00             NaN             NaN          NaN

parameter            Berilio Disuelto
date
1994-04-29 11:00:00               NaN
1994-05-30 11:00:00               NaN
1994-06-09 11:00:00               NaN
1994-07-07 11:00:00               NaN
1994-07-16 11:00:00               NaN

In [29]:
# Since the duplicates seem to have identical values, let's remove them and proceed with the pivot
# Remove duplicates keeping the first occurrence
df_clean = df.drop_duplicates(subset=['date', 'parameter'], keep='first')

print(f"Original dataset: {len(df)} rows")
print(f"After removing duplicates: {len(df_clean)} rows")
print(f"Duplicates removed: {len(df) - len(df_clean)}")

# Now let's create the time series dataset
# Pivot the data so that dates are rows and parameters are columns
df_pivot = df_clean.pivot(index='date', columns='parameter', values='value')

print(f"\nPivoted dataset shape: {df_pivot.shape}")
print(f"Date range: {df_pivot.index.min()} to {df_pivot.index.max()}")
print(f"Number of parameters (columns): {df_pivot.shape[1]}")

# Display the first few columns and rows
print("\nFirst 5 rows and first 10 parameters:")
print(df_pivot.iloc[:5, :10])

Original dataset: 4673 rows
After removing duplicates: 4572 rows
Duplicates removed: 101

Pivoted dataset shape: (248, 101)
Date range: 1994-04-29 11:00:00 to 2024-10-12 00:00:00
Number of parameters (columns): 101

First 5 rows and first 10 parameters:
parameter            Aceites y Grasas  Aluminio Disuelto  Aluminio total  \
date
1994-04-29 11:00:00               NaN                NaN             NaN
1994-05-30 11:00:00               NaN                NaN             NaN
1994-06-09 11:00:00               NaN                NaN             NaN
1994-07-07 11:00:00               NaN                NaN             NaN
1994-07-16 11:00:00               NaN                NaN             NaN

parameter            Antimonio Disuelto  Antimonio total  Arsenico Disuelto  \
date
1994-04-29 11:00:00                 NaN              NaN                NaN
1994-05-30 11:00:00                 NaN              NaN                NaN
1994-06-09 11:00:00                 NaN              NaN                NaN
1994-07-07 11:00:00                 NaN              NaN                NaN
1994-07-16 11:00:00                 NaN              NaN                NaN

parameter            Arsénico total  Bario Disuelto  Bario total  \
date
1994-04-29 11:00:00             NaN             NaN          NaN
1994-05-30 11:00:00             NaN             NaN          NaN
1994-06-09 11:00:00             NaN             NaN          NaN
1994-07-07 11:00:00             NaN             NaN          NaN
1994-07-16 11:00:00             NaN             NaN          NaN

parameter            Berilio Disuelto
date
1994-04-29 11:00:00               NaN
1994-05-30 11:00:00               NaN
1994-06-09 11:00:00               NaN
1994-07-07 11:00:00               NaN
1994-07-16 11:00:00               NaN

In [30]:
# Since the duplicates seem to have identical values, let's remove them and proceed with the pivot
# Remove duplicates keeping the first occurrence
df_clean = df.drop_duplicates(subset=['date', 'parameter'], keep='first')

print(f"Original dataset: {len(df)} rows")
print(f"After removing duplicates: {len(df_clean)} rows")
print(f"Duplicates removed: {len(df) - len(df_clean)}")

# Now let's create the time series dataset
# Pivot the data so that dates are rows and parameters are columns
df_pivot = df_clean.pivot(index='date', columns='parameter', values='value')

print(f"\nPivoted dataset shape: {df_pivot.shape}")
print(f"Date range: {df_pivot.index.min()} to {df_pivot.index.max()}")
print(f"Number of parameters (columns): {df_pivot.shape[1]}")

# Display the first few columns and rows
print("\nFirst 5 rows and first 10 parameters:")
print(df_pivot.iloc[:5, :10])

Original dataset: 4673 rows
After removing duplicates: 4572 rows
Duplicates removed: 101

Pivoted dataset shape: (248, 101)
Date range: 1994-04-29 11:00:00 to 2024-10-12 00:00:00
Number of parameters (columns): 101

First 5 rows and first 10 parameters:
parameter            Aceites y Grasas  Aluminio Disuelto  Aluminio total  \
date
1994-04-29 11:00:00               NaN                NaN             NaN
1994-05-30 11:00:00               NaN                NaN             NaN
1994-06-09 11:00:00               NaN                NaN             NaN
1994-07-07 11:00:00               NaN                NaN             NaN
1994-07-16 11:00:00               NaN                NaN             NaN

parameter            Antimonio Disuelto  Antimonio total  Arsenico Disuelto  \
date
1994-04-29 11:00:00                 NaN              NaN                NaN
1994-05-30 11:00:00                 NaN              NaN                NaN
1994-06-09 11:00:00                 NaN              NaN                NaN
1994-07-07 11:00:00                 NaN              NaN                NaN
1994-07-16 11:00:00                 NaN              NaN                NaN

parameter            Arsénico total  Bario Disuelto  Bario total  \
date
1994-04-29 11:00:00             NaN             NaN          NaN
1994-05-30 11:00:00             NaN             NaN          NaN
1994-06-09 11:00:00             NaN             NaN          NaN
1994-07-07 11:00:00             NaN             NaN          NaN
1994-07-16 11:00:00             NaN             NaN          NaN

parameter            Berilio Disuelto
date
1994-04-29 11:00:00               NaN
1994-05-30 11:00:00               NaN
1994-06-09 11:00:00               NaN
1994-07-07 11:00:00               NaN
1994-07-16 11:00:00               NaN

In [31]:
df_pivot.to_csv('df_pivot.csv')
print("df_pivot.csv has been saved.")

df_pivot.csv has been saved.

In [32]:
df_pivot.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 248 entries, 1994-04-29 11:00:00 to 2024-10-12 00:00:00
Columns: 101 entries, Aceites y Grasas to Zinc total
dtypes: float64(101)
memory usage: 197.6 KB

In [34]:
df_pivot.describe()

parameter,Aceites y Grasas,Aluminio Disuelto,Aluminio total,Antimonio Disuelto,Antimonio total,Arsenico Disuelto,Arsénico total,Bario Disuelto,Bario total,Berilio Disuelto,...,Sólidos Suspendidos Totales,Talio Disuelto,Talio total,Temperatura,Titanio Disuelto,Titanio total,Vanadio Disuelto,Vanadio total,Zinc Disuelto,Zinc total
count,16.000000,1.00,77.000000,1.000,60.000000,104.000000,108.000000,1.000,77.000000,1.0000,...,239.000000,1.00,60.000000,235.000000,1.00,60.000000,1.000,60.000000,114.000000,108.000000
mean,0.393750,0.02,0.366435,0.008,0.009477,0.030761,0.030195,0.054,0.060439,0.0003,...,38.998787,0.05,0.031954,12.215787,0.01,0.008308,0.003,0.002375,0.531618,0.251275
std,0.112361,NaN,0.607358,NaN,0.014090,0.030352,0.015944,NaN,0.014817,NaN,...,67.820494,NaN,0.021233,2.376647,NaN,0.010421,NaN,0.001177,0.616083,0.262827
min,0.000000,0.02,0.007000,0.008,0.000040,0.000000,0.005720,0.054,0.029000,0.0003,...,0.400000,0.05,0.000020,4.900000,0.01,0.000200,0.003,0.000100,0.000000,0.005300
25%,0.400000,0.02,0.055000,0.008,0.006000,0.012825,0.019910,0.054,0.053000,0.0003,...,5.000000,0.05,0.011125,10.850000,0.01,0.002900,0.003,0.001800,0.038500,0.025825
50%,0.400000,0.02,0.174000,0.008,0.008000,0.027850,0.030560,0.054,0.058000,0.0003,...,12.000000,0.05,0.050000,12.200000,0.01,0.010000,0.003,0.003000,0.375000,0.191650
75%,0.400000,0.02,0.400000,0.008,0.008000,0.040000,0.037280,0.054,0.064000,0.0003,...,39.500000,0.05,0.050000,13.750000,0.01,0.010000,0.003,0.003000,0.790000,0.379750
max,0.500000,0.02,3.520000,0.008,0.113000,0.250000,0.107780,0.054,0.131000,0.0003,...,561.000000,0.05,0.050000,21.900000,0.01,0.082100,0.003,0.005500,3.950000,1.370100

In [35]:
df_pivot.head()

parameter,Aceites y Grasas,Aluminio Disuelto,Aluminio total,Antimonio Disuelto,Antimonio total,Arsenico Disuelto,Arsénico total,Bario Disuelto,Bario total,Berilio Disuelto,...,Sólidos Suspendidos Totales,Talio Disuelto,Talio total,Temperatura,Titanio Disuelto,Titanio total,Vanadio Disuelto,Vanadio total,Zinc Disuelto,Zinc total
date,,,,,,,,,,,,,,,,,,,,,
1994-04-29 11:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,7.30,NaN,NaN,NaN,NaN,0.21,NaN
1994-05-30 11:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,7.30,NaN,NaN,NaN,NaN,0.21,NaN
1994-06-09 11:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,7.04,NaN,NaN,NaN,NaN,0.00,NaN
1994-07-07 11:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,7.02,NaN,NaN,NaN,NaN,0.00,NaN
1994-07-16 11:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,8.15,NaN,NaN,NaN,NaN,0.00,NaN

In [36]:
df_pivot.tail()

parameter,Aceites y Grasas,Aluminio Disuelto,Aluminio total,Antimonio Disuelto,Antimonio total,Arsenico Disuelto,Arsénico total,Bario Disuelto,Bario total,Berilio Disuelto,...,Sólidos Suspendidos Totales,Talio Disuelto,Talio total,Temperatura,Titanio Disuelto,Titanio total,Vanadio Disuelto,Vanadio total,Zinc Disuelto,Zinc total
date,,,,,,,,,,,,,,,,,,,,,
2023-11-13,0.4,NaN,2.497,NaN,NaN,NaN,0.04721,NaN,0.0827,NaN,...,84.0,NaN,NaN,15.4,NaN,NaN,NaN,NaN,NaN,0.2364
2024-01-13,0.4,NaN,0.093,NaN,NaN,NaN,0.00858,NaN,0.0460,NaN,...,27.0,NaN,NaN,11.7,NaN,NaN,NaN,NaN,NaN,0.1058
2024-04-16,0.4,NaN,0.307,NaN,NaN,NaN,0.01251,NaN,0.0708,NaN,...,16.0,NaN,NaN,14.9,NaN,NaN,NaN,NaN,NaN,0.3581
2024-07-13,0.4,NaN,0.007,NaN,NaN,NaN,0.03594,NaN,0.0529,NaN,...,3.0,NaN,NaN,9.4,NaN,NaN,NaN,NaN,NaN,0.0397
2024-10-12,0.4,NaN,0.019,NaN,NaN,NaN,0.05806,NaN,0.0577,NaN,...,3.0,NaN,NaN,15.7,NaN,NaN,NaN,NaN,NaN,0.0215

Timeframe of df_pivot: From 1994-04-29 11:00:00 to 2024-10-12 00:00:00

In [38]:
print(f"Number of dates included in df_pivot: {len(df_pivot)}")

Number of dates included in df_pivot: 248